@model new_diary.Models.ViewModels.MainModel
@{
    
}
MAINMAINMAIN2
@if(User?.Identity?.IsAuthenticated ?? false)
{
    <a class="btn btn-danger" asp-action="Logout" asp-controller="Account">
        Logout
    </a>
}