UPLOAD FILE
<form method="post" enctype="multipart/form-data" asp-action="UpdateUserPicture" asp-controller="Home">
    <input type="file" name="userPicture" />
    <input type="submit" class="btn btn-primary" />
</form>